- csv

In [1]:
import numpy as np
import pandas as pd

# 데이셋을 저장하고 불러오기
ar1 = np.arange(10).reshape(2,5)
df = pd.DataFrame(ar1, columns=list('abcde'))
df.to_csv('dataset/test.csv')  # to_csv : csv파일로 저장하기

In [2]:
df = pd.read_csv('dataset/test.csv', index_col=0)
df       # read_csv : csv파일 불러오기, index_col=0 : unnamed 없애주기

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

- json

In [3]:
# json(제이슨)은 데이터가 딕셔너리 형식으로 되어있음
df1 = df.copy()
df1.to_json('dataset/test1.json') # csv랑 형식 같음. to_json
df1_json = pd.read_json('dataset/test1.json')
df1_json

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

- 바이너리 파일 읽고 쓰기

In [4]:
df2 = df.copy()
df2.to_pickle('dataset/test2.pkl') # to.pickle. 메모장으로 연결해서 열어보면 텍스트타입이 아니라 바이너리라 잔뜩 깨진채로 보임.
df2_pkl = pd.read_pickle('dataset/test2.pkl') # 그래도 못알아본것이 데이터프레임으로 읽어오면 출력 잘 됨
df2_pkl

# 바이너리 파일로 저장하면 메모리 소요가 훨씬 줄어들어 저장해두고
# 나중에 다시 사용할 때 이런 방식으로 하면 좋음

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [5]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from openpyxl) (1.1.0)

In [7]:
df = pd.read_excel('dataset/auto-mpg.xlsx')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [9]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [13]:
'''
mpg : miles per gallon. 높을수록 연비 좋음
cylinder : 피스톤이 움직이는 공간
displacement 배기량
weight 차 중량
accelearation 엑셀
model year 연식?
origin?
horsepower 마력. 밑에 info 보면 숫잔데 문자로 되어있음

연비와 중량 반비례
'''

'\nmpg : miles per gallon. 높을수록 연비 좋음\ncylinder : 피스톤이 움직이는 공간\ndisplacement 배기량\nweight 차 중량\naccelearation 엑셀\nmodel year 연식?\norigin?\nhorsepower 마력\n\n연비와 중량 반비례\n'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [14]:
df.isnull().sum().sum() # (각 칼럼별 null의 합)의 총 합

0

In [18]:
df.horsepower.unique() # unique : 중복제외 있는거 다 한번 출력해보는것.
                       # 중간에 '?' 가 있어서 obj로 처리가 됐던 것.

array([130, 165, 150, 140, 198, 220, 215, 225, 190, 170, 160, 95, 97, 85,
       88, 46, 87, 90, 113, 200, 210, 193, '?', 100, 105, 175, 153, 180,
       110, 72, 86, 70, 76, 65, 69, 60, 80, 54, 208, 155, 112, 92, 145,
       137, 158, 167, 94, 107, 230, 49, 75, 91, 122, 67, 83, 78, 52, 61,
       93, 148, 129, 96, 71, 98, 115, 53, 81, 79, 120, 152, 102, 108, 68,
       58, 149, 89, 63, 48, 66, 139, 103, 125, 133, 138, 135, 142, 77, 62,
       132, 84, 64, 74, 116, 82], dtype=object)