- Q1. 남녀 파트너 정해주기 프로그램(zip함수)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

In [85]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

In [86]:
# zip : 길이가 같은 함수를 묶어줌

import numpy as np
np.random.shuffle(male)
np.random.shuffle(female)
partners = zip(male, female)

for i, partner in enumerate(partners) :
    print(f'파트너{i+1} : {partner[0]}, {partner[1]}')
    
    # print(f'partner{i+1}:{partner[0]}-{partner[1]}')

파트너1 : 갑돌, 미미
파트너2 : 로미오, 줄리엣
파트너3 : 온돌, 갑순
파트너4 : 이몽룡, 평강
파트너5 : 철수, 성춘향

- Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 금지)

In [149]:
import random
num = set()
human = int(input(f'원하시는 횟수를 입력하세요 : '))

while len(num) < human :
    num.add(random.randint(1,45))  # 로또번호 개수를 모르는데 이건 끝자리만 바꿔주면됨
    
    
num = list(num)
# num.sort()
print(num)

원하시는 횟수를 입력하세요 : 13
[1, 35, 36, 5, 8, 10, 42, 11, 14, 22, 23, 25, 31]

- 도전과제1.
- 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [ ]:
cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이명진','이상윤','조승현',
        '강유한','김영선','최애림','김민섭','박혜린','이정현B','윤정준','김진형',
       '진청아','신창훈','김병석','박세희']
len(cakd7)

In [34]:
import random 
import numpy as np

list = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A',
         '이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린',
         '윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']

print("=============== CAKD7 발표자 랜덤 뽑기 입니다.==============="'\n')
                        
get_ran_num = int(input(" 발표 인원을 입력해주세요 >  "'\n')) 


lucky_guy = random.sample(list,get_ran_num)

print(" ")
for i in range(get_ran_num):
    print(f'{i+1}번 문제 발표자는 {lucky_guy[i]} 입니다.')

=============== CAKD7 발표자 랜덤 뽑기 입니다.===============

 발표 인원을 입력해주세요 >
3

1번 문제 발표자는 김현지 입니다.
2번 문제 발표자는 정승기 입니다.
3번 문제 발표자는 이상윤 입니다.

- Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요.

abc -> bca

In [ ]:
a =str(input("문자를 입력해주세요"))

print(a[1:]+(a[0]))

In [ ]:
text = input("문장을 입력하세요. > ")

ret = ''
for i in range(len(text)):
    if i != len(text) -1 :
        ret += text[i+1]
    else:
        ret += text[0]

print(ret)

- Q4. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

In [ ]:
import re
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
p = re.compile('\w{4}[.]\w{5}[.]\w{3}')

m = p.search(url)
m

In [ ]:
re.findall('\w{4}[.]\w{5}[.]\w{3}',url)

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp = url.split('/')
tmp[2]

- Q5. url에서 쿼리문을 추출하여 출력하세요.

In [ ]:
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
qus = url.split('?')
qus[1]

In [ ]:
qus[1].split('&')

- Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해

자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [ ]:
file = open('./mydata.txt', mode = 'r')
file

In [ ]:
lines = file.readlines()
print(lines)

In [ ]:
# 잘못된거
sum_e = 0
for i in lines :
    a = i.split(" ") # a: 파일 내 리스트 단어로 쪼개기
    for b in a :  # b: 모든 단어 추출
        c = b.count('e') # c : 해당문자 추출
        sum_e += c
sum_t = 0
for i in lines :
    a = i.split(" ")
    for b in a : 
        c = b.count('t')
        sum_t += c
        

print(f'[e] -> [{sum_e}]회 나타남')
print(f'[t] -> [{sum_t}]회 나타남')

In [ ]:
# 정답
def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

- Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.

(0을 입력한 경우 다시 입력하도록 조치)

In [1]:
# Cal4 클래스를 만들어서 작성하세요.
a = int(input("숫자를 입력하세요"))
b = int(input("숫자를 입력하세요"))

for i in a, b :
    if a == 0 or b == 0 :
        a = int(input("숫자를 다시 입력하세요"))
        b = int(input("숫자를 다시 입력하세요"))
        
class Cal4:  
    def __init__(self, a, b) : # 클래스를 만드는 과정에서 무조건 실행되는 스페셜 메소드 __init__
        self.first = a         # 인스턴스화 될때(만들때) 반드시 실행됨.
        self.second = b      
        
    def add(self):
        result = self.first + self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def mul(self) :
        result = self.first * self.second
        return result
    
    def div(self) :
        result = self.first / self.second
        return result
    
c = Cal4(a,b)
print(f'{a} + {b} = {c.add()}')
print(f'{a} - {b} = {c.sub()}')
print(f'{a} * {b} = {c.mul()}')
print(f'{a} / {b} = {c.div()}')

숫자를 입력하세요4
숫자를 입력하세요0
숫자를 다시 입력하세요0
숫자를 다시 입력하세요6
숫자를 다시 입력하세요8
숫자를 다시 입력하세요4
8 + 4 = 12
8 - 4 = 4
8 * 4 = 32
8 / 4 = 2.0

- while True사용
- continue 반복처음으로
- break 종료

- Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여

출력가격에 원이 추가되도록 출력하세요.

In [5]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer
    

class extraOrder(Order) :
    def __init__(self, name): 
        super().__init__(name)
    def order(self, price) :
        super().order(price)
        print(f'{self.name}님의 주문금액은 {self.customer}원 입니다.')
    
        
        

order = Order('kevin')
print(order.order(1000))  # 앞의 order는 객체 
order = extraOrder('Kevin')
print(order.order(1000))

1000
Kevin님의 주문금액은 1000원 입니다.
None

In [ ]:
# 위에 8번 다시해보기

- Q9. 업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여

아래와 같이 출력하세요.

안녕하세요. Kevin님, 업무미팅은 2시입니다.

In [6]:
import time
class AutoEmail :
    def __init__(self, name, t):
        self.name = name
        self.t = t
    def alarm(self) :
        if time.localtime().tm_hour == self.t:
            print(f'{self.name}님, 업무미팅이 진행중입니다.')
        else:
            print(f'안녕하세요 {self.name}님, 업무미팅은 {self.t}시 입니다.'')
    
meeting = AutoEmail()
meeting.alarm('Kevin',2)

SyntaxError: EOL while scanning string literal (787192407.py, line 10)

- Q10. 정규표현식을 사용하여 test에서 전화번호만 출력하세요.

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.

In [5]:
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."
# 숫자3 - 숫자3 - 숫자4 추출
import re

p = re.compile('\d{3}[-]\d{3}[-]\d{4}')
# re.findall('\d{3}[-]\d{3}[-]\d{4}', text) # 리스트해제 [0]
re.findall('\d+[-]\d+[-]\d+', text)
# \d : 숫자

['032-232-3245']

- Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.

text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

In [1]:
# 에러 1122, 에러 1033, 에러 xxx 추출
# 에러 " " ~ 추출하는 식으로
import re
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

p2 = re.findall('에러.{4,5}', text)
# 에러#s#w
p2

['에러 1122', '에러 1033', '에러 xxx']

- Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.

In [2]:
# 032 출력
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

p3 = re.findall('\d{3}', text)
p3[0]

'032'

- Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.

In [3]:
# 232-3245 출력
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

p4 = re.findall('\d+[-]\d{4}', text)
p4

['232-3245']

- Q14. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요. (정규식)

In [41]:
# re.compile('뽑아쓸 패턴')

# 패턴 안에서 정규표현식을 ( )(괄호)로 묶으면 그룹이 됩니다.
# (정규표현식) (정규표현식)
text = "abcdefghij"

# ((a(b(cd)(e)fg)hi)j)
p = re.compile('((\w(\w(\w{2})(\w)\w{2})\w\w)\w)')
m = p.search(text)
m

print(m.group(2))
print(m.group(5))

abcdefghi
e

In [6]:
# 주신답
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.match('abcdefghij')
# print(m.group(0))
print(m.group(1))
m.group(5)

abcdefghi

'e'

- Q15. 위 Q14 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [42]:
# groups는 튜플 형태로 반환
m.groups()

('abcdefghij', 'abcdefghi', 'bcdefg', 'cd', 'e')

- Q16. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

In [59]:
# 그룹에 이름 붙이기 ex : (?P<NAME>\w+)
import re

text = 'Lots of punctuation'
p = re.compile('(?P<words>\w+)')
m = p.match(text)
m.group('words')

'Lots'

- Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [60]:
text = 'Paris is very very beautiful.'
p = re.compile('\w{4}\s\w{4}')
m = p.findall(text)
m[0]

'very very'

- Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [61]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile('\d+\s\w+')
list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

- Q19. text에서 'H,h'만 출력하세요.

In [62]:
text = 'Hello my friend! Life is short you need Python!'
p = re.compile('H')
p2 = re.compile('h')
#m = p.match(text)
#m2 = p2.match(text)
p.findall(text)+p2.findall(text)

['H', 'h', 'h']

In [63]:
text = 'Hello my friend! Life is short you need Python!'
p = '[Hh]'
re.findall(p, text)

['H', 'h', 'h']

- Q20. text에서 'H,h'가 아닌 것 모두를 출력하세요.

In [64]:
text = 'Hello my friend! Life is short you need Python!'
p = re.compile('[^H^h]+')
#m = p.match(text)
#m2 = p2.match(text)
p.findall(text)

['ello my friend! Life is s', 'ort you need Pyt', 'on!']

- Q21. 'we are going home'에서 home만 출력하세요.(정규식)

In [65]:
import re
text = 'we are going home'
p = re.compile('\w+')
# p = re.compile('\w+$')    >> m[0]
m = p.findall(text)
m[3]
#text[-4:]

'home'

- Q22. '199305, 1923A, a93247'에서 199305만 출력하세요.

In [66]:
text= '199305, 1923A, a93247'
p = re.compile('\w+')
m = p.findall(text)
m[0]

'199305'

- Q23. '12345abc'에서 'abc'만 출력하세요.

In [67]:
text = '12345abc'
p = re.compile('[a-z]+')
m = p.findall(text)
m[0]

'abc'

In [68]:
m = re.search('[a-z]+', text)
m.group()

'abc'

In [69]:
text = '12345abc'
re.sub('[^0-9]','' ,  text) # 숫자가 아닌것을 공백으로 대체

'12345'

- Q24. '12345abc'에서 'a'만 출력하세요.

In [70]:
text = '12345abc'
p = re.compile('[a-z]') # a b c 따로 출력
m = p.findall(text)
m[0]

'a'

In [71]:
import re
m = re.search('[a-z]', text)
m.group(0)

'a'

- Q25. 'abc12345Abc'에서 'A'만 출력하세요.

In [72]:
text = 'abc12345Abc'
p = re.compile('[A-Z]')
m = p.findall(text)
m[0]

'A'

- Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [4]:
import re
a1 = 'Banker'
p1 = re.compile('[a-z]+')
m1 = p1.findall(a1)
print(m1[0])

a2 = 'banker123'
p2 = re.compile('\D+')
m2 = p2.findall(a2)
print(m2[0])

anker
banker

- Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [74]:
text = 'KOREA 대한민국'
p = re.compile('[가-힣]')
m = p.findall(text)
m[0]
# k = re.search('[가-힣]',text)
# k.group()

'대'

- Q28. text에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.

In [3]:
# reverse
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
# p = re.compile('[a-z]{4}[A-Z]{3}[a-z]{3}[A-Z]{3}[a-z]{3}')
m = re.findall('[a-z]{4}[A-Z]{3}[a-z]{3}[A-Z]{3}[a-z]{3}', text)
m[0]

# t = re.search('a{4}B{3}c{3}D{3}e{3}',text)
# t.group()

'aaaaBBBcccDDDeee'

- Q29. 아래의 경우에서 \<html>만 출력하세요

In [5]:
# 그리디, non-그리디?
import re
text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*?>')  #  * : greedy  ? : non-greedy

print(len(text))
p = pattern.search(text)

59

In [7]:
p.group()

'<html>'

- Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [8]:
text = '1234a1234'
p = re.compile('[\d]')
m = re.findall('[\d]', text)
m

['1', '2', '3', '4', '1', '2', '3', '4']

- Q31. 문제없음

- Q32. text에서 전체문장 모두 출력하세요.

In [13]:
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
#regex = re.compile('.*[\n].*[\n].*')
regex = re.compile('\D*')
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [15]:
#다른방법
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*',re.DOTALL) # re.DOTALL : 개행문자도 출력
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

- Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요

In [19]:
text = 'Friend fRiend friEnd FRIEND'
p = re.compile('.+')
m = p.findall(text)
m[0]

'Friend fRiend friEnd FRIEND'

In [27]:
text = 'Friend fRiend friEnd FRIEND'

regex = re.compile('friend*',re.I) # 대문자 i. re.i : 대소문자구분x
mo = regex.findall(text)
for i in mo:
    print(i)

Friend
fRiend
friEnd
FRIEND

- Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [28]:
# float > timestamp > str
from datetime import datetime
t = 1609160537.371015
# 실수 > 타임스탬프 : datetime.fromtimestamp(실수)
# float > timestamp
t1 = datetime.fromtimestamp(t)
t1
# datetime > str
# %a 축약 요일(영) %b 축약 월(영)
t2 = t1.strftime('%a %b %d %H:%M:%S %Y')
t2
# t1.strftime('%c')

'Mon Dec 28 22:02:17 2020'

- ctime() 함수는 주어진 timestamp를 현지 시간대 기준으로 소위 미국에서 흔히 사용되는 요 월 일 시:분:초 년 포멧으로 변환해줍니다. 그냥 간단하게 timestamp가 나타내는 날짜와 시간을 확인해보는 용도로 쓰기에 좋습니다.

In [31]:
import time
timestring=time.ctime(1609160537.371015)
timestring

'Mon Dec 28 22:02:17 2020'

- Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [29]:
# https://kkumalog.tistory.com/15 날짜 포맷
from datetime import datetime
t1 = datetime.now()
t = t1.strftime('%a %b %d %H:%M:%S %Y')
t

'Tue Jul 26 09:15:19 2022'

- Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [181]:
from datetime import datetime
t =datetime.now()
now = t.strftime('%Y-%m-%d %H:%M:%S')
now

'2022-07-26 18:38:42'

- Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [183]:
import time
from datetime import datetime
t = time.time() # 현재시간 실수
print(t)

t1 = datetime.fromtimestamp(t) # 실수 > datetime
print(t1)

t2 = t1.strftime('%Y-%m-%d %H:%M:%S') # datetime > str
print(t2)

1658828373.627831
2022-07-26 18:39:33.627831
2022-07-26 18:39:33

- Q38. 올해 경과된 날짜수 계산하세요 (1/1~오늘)

In [10]:
from datetime import datetime
#date 타입으로 통일
ny = '20220101'
td = datetime.now().date()
td

newy = datetime.strptime(ny, '%Y%m%d') # 문자를 datetime으로 변환
NY = newy.date() # datetime을 date 타입으로 다시 변환
NY

print(td-NY)

207 days, 0:00:00

In [5]:
ny2 = datetime(2022,1,1)
td2 = datetime.now()

print(td2-ny2)

207 days, 9:16:44.208960

- Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [197]:
from datetime import datetime
td = datetime.now() # 현재날짜, 시간
yoil = td.weekday() # weekday : 요일 숫자로 출력(mon=0)
days = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']
today = days[yoil] # 인덱스
# print(today)

dinfo = td.strftime('%Y-%m-%d 오늘은 '+today+ '입니다.')
dinfo

화요일

'2022-07-26 오늘은 화요일입니다.'

- Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [3]:
from datetime import datetime
start_time = datetime.now()

i = 0
sum= 0
for i in range(1000001) :
    sum += i
    sum

end_time = datetime.now()

a = end_time-start_time
ms = a.microseconds/1000
print(f'{ms}ms')

114.813ms

In [203]:
import pandas as pd

my_list = range(1000001)
sum = 0

%time for i in my_list : sum +=i # 리스트라서 이렇게씀

CPU times: total: 109 ms
Wall time: 105 ms

- Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.

In [31]:
# try except // - int, unexpected error, index error
try :
    list_num = [52,273,32,72,100]
    
    num_input = int(input('정수 입력> '))
    print(f'{num_input}번째 요소: {list_num[num_input-1]}')
    break

except ValueError :
    print("ValueError:", "정수에러")
    IndexError
    ExceptError
    
finally:
    print('예외 처리 완료')

정수 입력> 아니
invalid literal for int() with base 10: '아니'
에러입니다.
예외 처리 완료

In [2]:
list_num = [52,273,32,72,100]

while True:
    try:
        num_input = int(input('정수 입력> '))
        print(f'{num_input}번째 요소: {list_num[num_input-1]}')
        break
    except ValueError:
        print("ValueError:", "정수에러")
    except IndexError:
        print("IndexError:", "인덱스에러")    
    except:
        print("ExceptError:", "파악하지 못한 예외처리")    
    finally:
        print('모든 예외처리 완료')

정수 입력> 12461
IndexError: 인덱스에러
모든 예외처리 완료
정수 입력> 5
5번째 요소: 100
모든 예외처리 완료

- Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요.


- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [3]:
class Price():
    def __init__(self, price1 = 1000):
        self.price1 = price1
       
    def in_price(self, price2, sale = 0):
        self.price2 = price2
        self.sale = sale
    def sum_price(self):
        price = self.price1 + self.price2    
        
        if self.sale == 1:
            price = price * 0.9
        return price

price1 = Price()
price2 = Price()

price1.in_price(100)
price2.in_price(100,1)

print("price1:", price1.sum_price(), "원")
print("price2:", price2.sum_price(), "원")

price1: 1100 원
price2: 990.0 원

 - Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요

In [3]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

strings.sort(key=len) # 개수순
# strings.sort(key = lambda x:len(x), reverse=True) 로 바로 끝(True 역정렬)
strings.reverse() # 역정렬
print(strings)

['ababa', 'aaaa', 'bar', 'ca', 'a']

- Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

In [117]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)))
strings.reverse()
# strings.sort(key = lambda x:len(set(x)), reverse=True)
strings

['card', 'bar', 'abab', 'foo', 'aaaa']

- Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

In [207]:
# sorted(a), a.sort, A.reverse, reversed(A) 
A = 'abcde'
# 첫번째 방법 - 인덱스
print(A[4]+A[3]+A[2]+A[1]+A[0])
print('*'*50)
# 두번째 방법 - for문
name = A
reverse_name = ''

for c in name:
    reverse_name = c + reverse_name

print(f'{reverse_name}')
print('*'*50)

# 세번째 방법 - 슬라이싱
print(A[::-1])
print('*'*50)

# 네번째 방법 - list화 > reverse, join
A = list(A)
A.reverse()
A1 = ''.join(A)
print(A1)
print('*'*50)

# 다섯번째 방법 - reversed
A = 'abcde'
words =''.join(reversed(str(A)))
print(words)

edcba
**************************************************
edcba
**************************************************
edcba
**************************************************
edcba
**************************************************
edcba

- Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

In [1]:
from collections import Counter
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
Counter(numbers)

Counter({3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2})

- Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [8]:
# 람다?
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [54]:
[i**2 for i in range(0,20,2) if i % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [2]:
list = [i*i for i in range(0,20,2)]
list

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
del list

 - Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [25]:
def factorial(n) :
    result = 1
    for i in range(1,n+1) :
        result *= i
    return result
print(factorial(5))
print(factorial(10))

120
3628800

- Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.

In [4]:
# factorial(n) = n * factorial(n-1) (n >= 1)

def factorial(n) :
    if n == 1 or n == 0 :
        return 1
    else :
        return n*factorial(n-1)

print(factorial(1))
print(factorial(5))
print(factorial(10))

1
120
3628800

- Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요

In [50]:
a = [1,2,3,4,5]
for i in a :
    i = float(i)
    print(i)

1.0
2.0
3.0
4.0
5.0

In [7]:
a = [1,2,3,4,5]
for i, j in enumerate(a) :
    a[i] = float(j)
a

[1.0, 2.0, 3.0, 4.0, 5.0]

In [19]:
a = [1,2,3,4,5]
a = list(map(float,a))
a

[1.0, 2.0, 3.0, 4.0, 5.0]

- Q31. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [125]:
import re
# 조건 : strip, Capitalize, re.sub 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

states[0] = states[0].strip()
states[1] = states[1][:-1]
states[3] = states[3].capitalize()
states[4] = states[4].title()
states[5] = states[5][:-2].title()
states[6] = states[6][:-1].title()
states

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [1]:
import re
# 조건 : strip, Capitalize, re.sub 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

def form(word):
    word = word.strip()
    word = re.sub('[^\s*\w*]+', "", word) # 특수기호 삭제
    word = re.sub('\s+', " ", word) # 공백 문자는 space 1칸으로
    word = word.title()
    return word
list(map(form, states))

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [ ]:
def form(word):
    word = word.strip()
    word = re.sub('[#!?]+', "", word)
    word = word.title()
    return word
list(map(form, states))

-  Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램

In [ ]:
사용자함수
인자 : 총건수, 한페이지에 보여줄 게시물수

In [133]:
import numpy as np

def Paper():
    a = int(input('총 게시물 수 : '))
    b = int(input('페이지당 몇 개의 게시물을 보실건가요? :'))
    print(f'총 {round(np.ceil(a/b))} 페이지 입니다.')
Paper()

총 게시물 수 : 134
페이지당 몇 개의 게시물을 보실건가요? :12
총 12 페이지 입니다.

- Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

In [ ]:
BMI를 이용한 비만도 계산은 자신의 몸무게를 키의 제곱으로 나누는 것으로 공식은 kg/㎡.
BMI가 18.5 이하면 저체중 ／ 18.5 ~ 22.9 사이면 정상 ／ 23.0 ~ 24.9 사이면 과체중 ／
25.0 이상부터는 비만으로 판정.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

In [157]:
import random
import numpy as np
import pandas as pd

first_name = '김이박최정강조윤장임'  # 10개씩 
middle_name = '유세호민아승시일선도'
last_name = '영철은지원진림현윤형'

def human():      # 없는사람 만들기
    name = ''
    name +=random.choice(first_name)
    name +=random.choice(middle_name)
    name +=random.choice(last_name)
    return name
human()

kg = random.randint(40,100)
height = random.randint(140,200)
BMI = kg/(m**2)

for i in BMI :
    if i <= 18.5 :
        print('저체중')
    elif i < 23 :
        print('정상')
    elif i < 25 :
        print('과체중')
    else : 
        print('비만')

# people = []
# person = 1000
# people.append(random.randint(1,human))

'이일형'

- Q53. 입력한 숫자를 천 단위로 구분하여 출력하세요.

In [33]:
a = int(input('정수를 입력해주세요.'))
print(format(a, ',d'))

정수를 입력해주세요.151957319
151,957,319

- Q54. 카운터에서 거스름돈으로 사용할 500원, 100원, 50원, 10원짜리 동전이 무한히 존재한다고 가정한다. 손님에게 거슬러줘야할 돈이 N원일 때 거슬러줘야할 동전의 최소 개수를 구하세요. 단, 거슬러줘야할 돈 N은 항상 10의 배수이다. N은 2750원이다.

In [26]:
# N은 항상 10의 배수
# N = x*500 + y*100 + z*10
# 재귀함수? 혹은 while문
li = [0 for i in range(4)]
sum = int(input("거스름돈을 입력하세요 : "))
while sum != 0 : 
    if sum >= 500 : 
        li[0] += 1 
        sum = sum - 500 
    elif sum >= 100 : 
        li[1] += 1 
        sum = sum - 100 
    elif sum >= 50 : 
        li[2] += 1 
        sum = sum - 50 
    elif sum >= 10 : 
        li[3] += 1 
        sum = sum - 10 

print(li, '\n')
print("500원 : ",li[0],"개")
print("100원 : ",li[1],"개")
print("50원 : ",li[2],"개") 
print("10원 : ",li[3],"개")
print(f'최소 동전의 개수는 {li[0]+li[1]+li[2]+li[3]}개 입니다.')

거스름돈을 입력하세요 : 6631590
[13263, 0, 1, 4]

500원 :  13263 개
100원 :  0 개
50원 :  1 개
10원 :  4 개
최소 동전의 개수는 13268개 입니다.

In [2]:
n = 3750
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
coin_types = [500, 100, 50, 10]

for coin in coin_types:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin # 나머지

print(count)

10

- Q55. mydata.txt 파일에 있는 단어 개수를 출력하세요.

In [8]:
import re
li = []
with open('./mydata.txt', 'r') as f:
    lines = f.readlines()
    for line in lines :
        line = re.sub('\W', ' ', line)
        li.append(line.strip())
        
li = ' '.join(li)
li = li.split(' ')
try :
    for _ in range(len(li)):
        li.remove('')
except :
    pass
print(len(li))
print(li)

221
['a', 'lot', 'of', 'things', 'occur', 'each', 'day', 'we', 've', 'got', 'to', 'live', 'with', 'on', 'our', 'way', 'there', 's', 'so', 'much', 'misery', 'on', 'the', 'screen', 'with', 'commercials', 'in', 'between', 'and', 'the', 'russians', 'won', 't', 'be', 'so', 'late', 'uncle', 'sam', 'don', 't', 'want', 'to', 'wait', 'no', 'matter', 'if', 'you', 're', 'black', 'or', 'white', 'you', 'never', 'ever', 'had', 'a', 'right', 'and', 'look', 'up', 'to', 'the', 'eternal', 'skies', 'see', 'warfare', 'even', 'there', 'what', 'once', 'has', 'been', 'a', 'paradise', 'now', 'destruction', 'and', 'despair', 'in', 'other', 'worlds', 'the', 'children', 'die', 'lacking', 'food', 'ill', 'from', 'a', 'fly', 'oppressed', 'by', 'troops', 'to', 'tame', 'their', 'land', 'it', 's', 'all', 'the', 'same', 'again', 'if', 'any', 'man', 'is', 'free', 'on', 'earth', 'then', 'tormentors', 'steal', 'his', 'birth', 'they', 'slam', 'gun', 'butts', 'in', 'his', 'face', 'and', 'leave', 'his', 'woman', 'choked', 'in', 'mace', 'so', 'stand', 'up', 'for', 'our', 'human', 'rights', 'push', 'back', 'this', 'pest', 'of', 'hate', 'raise', 'you', 'voice', 'pass', 'on', 'the', 'light', 'unite', 'it', 's', 'not', 'too', 'late', 'how', 'many', 'tears', 'flow', 'away', 'to', 'become', 'a', 'sea', 'of', 'fears', 'how', 'many', 'hearts', 'are', 'torn', 'apart', 'till', 'another', 'torment', 'starts', 'but', 'before', 'the', 'world', 'turns', 'into', 'a', 'sun', 'all', 'cruelty', 'and', 'violence', 'on', 'earth', 'will', 'be', 'dead', 'and', 'gone', 'so', 'stand', 'up', 'for', 'our', 'human', 'rights', 'push', 'back', 'this', 'pest', 'of', 'hate', 'raise', 'you', 'voice', 'pass', 'on', 'the', 'light', 'unite', 'it', 's', 'not', 'too', 'late']

In [10]:
# we've를 한단어로 본다면
import re
with open('./mydata.txt','r') as f:
    data = f.read()
    tmp = data.split()
    print(f'단어수 : {len(tmp)}')

단어수 : 213

- Q56. 파일이름과 특정 단어를 인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [14]:
# 사용자함수 필수
def countWord(filename, word):
    with open(filename, 'r') as f:
        text = f.read()
        text = text.lower()
        pos = text.find(word)
        count = 0
        while pos != -1: # 없을떄까지 
            count += 1
            pos = text.find(word, pos+1)
    return count

filename = input('filename을 입력하세요: ')
word = input('filename에서 개수를 구할 단어를 입력하세요: ').lower()
ret = countWord(filename, word)
print(f'{word}의 개수: {ret}')

filename을 입력하세요: mydata.txt
filename에서 개수를 구할 단어를 입력하세요: How
how의 개수: 2

- Q57,58없음

- Q59.
문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하세요.
- 예) "aaabbcccccca" -> a3b2c6a1

In [10]:
string = input("문자열을 입력하세요")

idx = string[0]
count = 1
length = len(string)

for i in range(1, length) :
    if string[i] == idx :
        count += 1
    else :
        print("%c%d" % (idx, count), end = '')
        count = 1
        idx = string[i]
print("%c%d" % (string[length-1], count))

문자열을 입력하세요aaaaaaaadddddadaaa
a8d5a1d1a3

In [1]:
a = "aaaaaabbccccccccaaac"
result = ''
cou = 1
for i,j in enumerate(a):
    if i == 0:
        result += a[0]
    elif a[i] == a[i-1]:
        cou += 1
    elif a[i] != a[i-1]:
        result += str(cou) + a[i]
        cou = 1
result+str(cou)

'a6b2c8a3c1'

In [3]:
s = "aaabbcccccca"

result = s[0]
count = 0 

for i in s:
    if i == result[-1]:
        count += 1
        2
    else:
        result += str(count) + i
        count = 1
        
result += str(count)

print(result)

a3b2c6a1

In [4]:
from itertools import groupby
t = "aaabbccccccaaaa"
"".join(f'{x}{len(list(y))}' for x, y in groupby(t))

'a3b2c6a4'

In [ ]:
s = 'ccaaabbccccccaaa'
_c = ""
cnt = 0
result = ""
for c in s:
    if c!=_c:
        _c = c
        if cnt:
            result +=str(cnt)
        result += c
        cnt = 1
    else:
        cnt += 1
if cnt:
       result +=str(cnt)
print(result)

- Q60.
N개의 요소로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

In [ ]:
ex : input(5 8 3) 5는 요소의 수, 총8번 더하는데 큰수를 반복할수있는게 3번
5 6 9 3 5 >> 9 3번, 6 3번, 5 2번

In [5]:
# N, M, K를 공백을 기준으로 구분하여 입력 받기
n, m, k = map(int, input().split())
# N개의 수를 공백을 기준으로 구분하여 입력 받기
data = list(map(int, input().split()))

data.sort() # 입력 받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

# 가장 큰 수가 더해지는 횟수 계산
count = int(m / (k + 1)) * k
count += m % (k + 1)

result = 0
result += (count) * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰 수 더하기

print(result) # 최종 답안 출력

4 8 6
5 7 3 8
63

- Q61. file1, 2의 파일 크기를 각각 구하세요.

- file1 = 'data/stockcode.txt'
- file2 = 'data/img_sample.jpg'

In [12]:
from os.path import getsize
# with open('./data/stockcode.txt', 'r') as f:
#    f.readlines()
file1 = './data/stockcode.txt'
file_size1 = getsize(file1)
file2 = './data/img_sample.jpg'
file_size2 = getsize(file2)

print('File Name: %s \tFile Size: %d byte' %(file1, file_size1))
print('File Name: %s \tFile Size: %d byte' %(file2, file_size2))

File Name: ./data/stockcode.txt 	File Size: 16339 byte
File Name: ./data/img_sample.jpg 	File Size: 170005 byte

- Q62. stockcode.txt의 105바이트 위치에서 500바이트를 읽어 그 내용은 stock_part.txt에 저장 한 후 출력하세요.

In [25]:
# txt생성
with open('./data/stockcode.txt', 'rb') as f:
    f.seek(105,0)
    body=f.read(500)
with open('./stock_part.txt', 'wb') as f2:
    f2.write(body)
with open('./stock_part.txt', 'r') as f2:    
    print(f2.read())

 유한양행
000101 유한양행우
000120 대한통운
000140 하이트홀딩스
000141 하이트홀딩스우
000150 두산
000151 두산우
000152 두산2우B
000180 성창기업지주
000210 대림산업
000211 대림산업우
000220 유유제약
000221 유유제약1우
000222 유유제약2우B
000230 일동제약
000240 한국타이어
000270 기아차
000300 대유신소재
000320 디피아이홀딩스
000321 디피아이홀딩스우
000322 디피아이홀딩스2B
000360 삼환기업
000361 삼환기업우
000370 한화손해보험
000390 삼화페인트
000400 롯데손해보험
000420 로

- Q63. 네이버 검색에서 관심 주제와 기사 수를 입력하면 그만큼 출력하는 크롤링 프로그램을 작성하여 다음 사항을 수행하세요.

기사 제목과 링크를 데이터프레임으로 가져온 후 본문 내용에서 한글 단어만 출력하여 형태소 분석
최근 국내 'AI'와 관련하여 가장 많이 언급되는 단어에 대한 빈도분석 및 시각화
AI 분야에서의 유의할 만한 트랜드 정보 및 인사이트 도출

In [ ]:
import requests
from bs4 import BeautifulSoup
import re
import urllib

import pandas as pd
news_df = pd.DataFrame(columns=['title','link','description'])
news_df

url = 'https://search.naver.com/search.naver?where=news&sm=tab_jum&query='
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"}

while True:
    try:
        keyword = input("검색 키워드:")
        keyword = keyword.strip()
        
        if len(keyword) >= 2:
            break
        else:
            print("키워드를 입력해 주세요.")    
    except:
        print("키워드를 입력해 주세요. [2자이상]")
        pass  

while True:
    try:
        count = int(input("검색 건수:"))
        break
    except:
        print("정수로 입력해 주세요.")
        pass  

url = url + urllib.parse.quote(keyword)

ind = 0
newslinks = []
page = 0
while True:
    new_url = url + "&start=" + str((page*10)+1)
    req = requests.get(new_url, headers=headers).text
    bs = BeautifulSoup(req, 'lxml')
    #links = bs.select('ul.list_news a[title]')
    #links = bs.select('.news_cluster > ul.list_cluster .sub_bx .sub_wrap')    
    links = bs.select('.news_area > .news_info > .info_group span.info+a.info')

    for j, a in enumerate(links):
        try:
            newsurl = a.get('href')
            if newsurl != "#": 
                news = requests.get(newsurl, headers=headers)
                bs = BeautifulSoup(news.text, 'html.parser')
                description = bs.select('#dic_area')[0].text
                newstitle = bs.select('#ct .media_end_head_title')[0].text
                newstitle = re.sub('\n','',newstitle) #개행 공백으로
                newstitle = re.sub('\t','',newstitle) #tab 공백으로
                newstitle = newstitle.strip()
                
                news_df.loc[ind] = [newstitle,newsurl,description]    
                ind += 1                
        except:
            print(newsurl)
            pass    
        
        if ind >= count:
            break               
    
    if ind >= count:
        break        

    page += 1
    
    # page > 20 일경우 강제종료
    if page > 20:
        break  
    
news_df.drop_duplicates(inplace = True)

In [ ]:
news_df

In [ ]:
target = news_df['description'].values # 배열
title_list = target.tolist() #리스트로 변환
text = ' '.join(title_list)
text

In [ ]:
import re
text = re.sub('[^가-힝]+',' ',text)
print(len(text))
text[:100]

In [ ]:
from konlpy.tag import Okt
okt = Okt()
morph = okt.pos(text)
noun_list = []
for word, tag in morph:
    if (tag =='Noun') & (len(word) > 1):
        noun_list.append(word)
print(morph)
print(noun_list)

In [ ]:
from collections import Counter
one_word = []
for word, tag in morph:
    if (tag == 'Noun') & (len(word)==1):
        one_word.append(word)
one_dict = dict(Counter(one_word).most_common())
keys = sorted(one_dict.items(), key=lambda x:x[1], reverse=True)
keys[:10]

In [ ]:
#불용어 제거
stop_words = ['통해','대한','사흘','네이버','인공','지능']
noun_list = [word for word in noun_list if not word in stop_words]
noun_list[:20]

In [ ]:
from collections import Counter
from matplotlib import rc
import matplotlib.pyplot as plt
import seaborn as sns

rc('font',family='Malgun Gothic')  # 한글 폰트 설정
plt.rcParams['axes.unicode_minus'] = False # 마이너스 부호 출력 설정
count = Counter(noun_list)
data = dict(count.most_common())
series = pd.Series(data)
df = pd.DataFrame(series, columns=['cnt'])
df10 = df.sort_values(by='cnt',ascending=False)[:10]
df10.reset_index(inplace=True)
df10

In [ ]:
sns.barplot(x='index', y='cnt', data=df10, orient='v')

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
wordcloud = WordCloud(font_path='../visualition/dataset/malgun.ttf', background_color='white',
                     colormap='flare', width=1500, height=1000).generate_from_frequencies(data)

plt.imshow(wordcloud)
plt.axis('off')
# plt.~ figure로 사이즈조정

- Q64. 어떠한 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 단 두번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있다.  N과 K를 입력했을 때 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 완성하세요.

1. N에서 1을 뺀다.
2. N을 K로 나눈다.

In [2]:
N = int(input("처리할 수"))
K = int(input("나눌 수"))

while True :
    if N // K == 0 :
        continue
        
    elif N // K != 0 :
        N -= 1
        continue
        
    elif N == 1 :
        break

처리할 수16
나눌 수2

KeyboardInterrupt:

- Q65. 아래와 같이 출력하는 코드를 작성하세요.

In [ ]:
*
**
***
****
*****

In [4]:
for i in range(1,6) :
    print("*"*i)

*
**
***
****
*****

- Q66. 아래와 같이 출력하는 코드를 작성하세요.

In [ ]:
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [10]:
for i in range(1,10, 2):
    print("{:^9}".format("*"*i))
for j in range(7,0,-2):
    print("{:^9}".format("*"*j))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [11]:
n = 7
for i in range(1,n+1):
    print(" "*(n-i), "*"*(2*i-1))
for j in range(n-1, 0, -1):
    print(" "*(n-j), "*"*(2*j-1))

       *
      ***
     *****
    *******
   *********
  ***********
 *************
  ***********
   *********
    *******
     *****
      ***
       *

- Q67. Tree의 높이를 입력하면 해당하는 높이의 아래와 같은 Tree를 출력하는 프로그램을 작성하세요.

In [ ]:
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
         ***
         ***
         ***

In [13]:
n = 10
for i in range(1,n+1):
    print(" "*(n-i), "*"*(2*i-1))
for j in range(3):
    print(" "*(n-2), "*"*3)

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
         ***
         ***
         ***

- Q68. 구구단을 출력하는 프로그램을 출력하세요.

In [16]:
def gugu() :
    for i in range(2, 10) :
            print(f"<{i}단>") # 바로아래줄에 쓰면 j의 영향을 받고 수식이 나옴
            for j in range(1, 10) :
                print(f"{i}x{j}={i*j}")
            print() # 바로 위 프린트와 같은줄에 쓰면 줄마다 띄어씀

gugu()

<2단>
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

<3단>
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

<4단>
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36

<5단>
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45

<6단>
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54

<7단>
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63

<8단>
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72

<9단>
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [1]:
def gugu() :
    for i in range(2, 10) :
            for j in range(1, 10) :
                print(str(i) + " * " + str(j) + " = " str(i*j) )
            print() # 바로 위 프린트와 같은줄에 쓰면 줄마다 띄어씀

gugu()

SyntaxError: invalid syntax (3284739666.py, line 4)

- Q69.
아래와 같이 입력하면 N X M 행렬 형태의 숫자 카드 중에서 먼저 뽑고자 하는 카드가 포함되어 있는 행을 선택한 후 그 행에서 가장 숫자가 낮은 카드를 뽑아야 하는 규칙하에서 가장 높은 숫자가 쓰인 카드 한장의 숫자를 출력한는 프로그램을 작성하세요. 
- 첫번째 입력 : N X M 형열에 대하여 N(행), M(열)의 개수를 공백을 기준으로 입력(1<= N, M<=100)
- 두번째 입력 : 각 행의 숫자를 공백을 기준으로 입력. 단, 각 숫자는 1 이상 10000 이하의 자연수임.

In [ ]:
import numpy as np
n, m = map(int, input('숫자입력').split())

result = 0
for i in range(n):
    data = list(map(int, input().split()))
    min_value = min(data)
    result = max(result, min_value)
    
print(result)

- Q70. Q69는 함수, 정렬 등의 방법으로 문제를 풀었다. 이 문제를 다중 for문을 사용하여 풀어보세요.

In [ ]:
import numpy as np
n, m = map(int, input('숫자입력').split())

result = 0
for i in range(n):

In [ ]:
n,m = map(int,input().split())

result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
    result = max(result,min_value)
print(result)

- Q71. 여행가 A는 N X N 크기의 정사각형 공간에 서 있다. A는 6개의 이동 명령 계획에 따라 움직이게 된다. 이동 명령은 L(왼쪽), R(오른쪽), U(윗쪽), D(아랫쪽)로 구성되며 R R R U D D와 같이 6개이다. 정사각형 공간을 벗어나는 움직임은 무시된다. 언급한 규칙에 따라 N과 이동 명령 계획으로 각각 5와 R R R U D D를 입력하면 A의 공간 좌표는 3 4가 된다. 이동 명령 계획서가 주어질 때 A가 최종적으로 도착할 지점의 좌표를 출력하는 프로그램을 작성하시오.

- Q72. 정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램을 작성하시오.(0<= N <=23)

In [38]:
# ex : 00시02분03초
# 모든 경우의 수 : (N+1)*3600
N = int(input("정수를 입력해주세요"))
sum = 0
for i in range(N+1) : # 시에 3이 있을때
    for j in range(59+1) : # 분에 3이 있을때
        for k in range(59+1) : # 초
            if '3' in str(i) or '3' in str(j) or '3' in str(k) :
                sum += 1
print(sum)

정수를 입력해주세요0
1575

- Q73. 행 위치는 1~8로 열 위치는 a ~ h로 표현하는 8 x 8 좌표 평면상에서 특정 위치가 주어졌을 때 아래 조건하에서 그 위치에서 이동할 수 있는 경우의 수를 출력하는 프로그램을 작성하세요.
- 수평으로 두 칸 이동한 뒤에 수직으로 한 칸 이동
- 수직으로 두 칸 이동한 뒤에 수평으로 한 칸 이동
- 8 x 8 좌표 평면을 나갈 수 없음

In [39]:
import numpy as np

np.arange(64).reshape(-1,8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [ ]:
c3~f6(16개) : 경우의수 최대(8)
   a b c d e f g h
1| 2 3 4 4 4 4 3 2
2| 3 4 6 6 6 6 4 3
3| 4 6 8 8 8 8 6 4
4| 4 6 8 8 8 8 6 4
5| 4 6 8 8 8 8 6 4
6| 4 6 8 8 8 8 6 4
7| 3 4 6 6 6 6 4 3
8| 2 3 4 4 4 4 3 2

In [2]:
# 1칸후 2칸 이동 (-1,2),(-1,-2),(1,2),(1,-2)
# 2칸후 1칸 이동 (-2,1),(-2,-1),(2,1),(2,-1)


point = list(input("위치(a1~h8):"))

위치(a1~h8):a1

- Q74. 캐릭터는 매뉴얼에 따라 이동한다. 아래 입력조건에 따라 캐릭터가 방문한 칸의 수를 출력하는 프로그램을 작성하세요.

- 입력조건
  - 첫째 줄에 맵의 세로 크기 N과 가로 크기 M을 공백으로 구분하여 입력 (3 <= N,M <=50)
  - 둘째 줄에 게임 캐릭터가 있는 칸의 좌표 (A,B)와 바라보는 방향 d가 각각 서로 공백으로 구분하여 입력(방향 d의 값으로는 북, 동, 남, 서가 각각 0,1,2,3)
  - 세째 줄에 맵이 육지인지 바다인지에 대한 정보 입력(육지 0, 바다 1) N개의 줄에 맵의 상태가 북쪽으로 부터 남쪽순서대로 각 줄의 데이터는 서쪽부터 동쪽 순서대로 주어진다.
  - 처음에 캐릭터가 위치한 칸의 상태는 항상 육지이다.


- 매뉴얼<BR>
  캐릭터가 있는 장소는 1 X 1 크기의 정사각형으로 이루어진 N X M 크기의 직사각형으로 각각의 칸은 육지 또는 바다이다.캐릭터는 동서남북 중 한 곳을 바라본다. 맵의 각 칸은 (A, B)로 나타낼 수 있고 A는 북쪽으로부터 떨어진 칸의 개수, B는 서쪽으로부터 떨어진 칸의 개수이다.캐릭터는 상하좌우로 움직일 수 있고 바다로 되어 있는 공간에는 갈 수 없다. 캐릭터의 움직임 설정을 위한 매뉴얼은 아래와 같다.
  - 현재 위치에서 현재 방향을 기준으로 왼쪽 방향부터 차례대로 갈 곳을 정한다.
  - 캐릭터의 바로 왼쪽 방향에 아직 가보지 않은 칸이 존재한다면 왼쪽 방향으로 회전한 다음 왼쪽으로 한 칸을 전진한다. 왼쪽 방향에 가보지 않은 칸이 없다면 왼쪽 방향으로 회전만 수행하고 1단계로 돌아간다.
  - 만약 네 방향 모두 이미 가본 칸이거나 바다로 되어 있는 칸인 경우에는 바라보는 방향을 유지한 채로 한 칸 뒤로 가고 1단계로 돌아간다. 단, 이때 뒤쪽 방향이 바다인 칸이라 뒤로 갈수 없는 경우에는 움직임을 멈춘다.

In [ ]:
4 4 # 4x4
1 1 0 # 1,1좌표, 0은 방향(북)
입력조건3
1 1 1 1
1 0 0 1
1 1 0 1
1 1 1 1
3

In [ ]:
import numpy as np

def turtle_trip():
    N,M = map(int,input('N M > ').split(' '))

    if N<3 or (M>50 and M<0):
        pass
    else:
        A,B,d = map(int,input('A B d > ').split(' '))
    
    base_map = np.arange(N*M).reshape(N,M)
    
    for i in range(N):
        for j in range(M):
            base_map[i,j] = int(input('바다:1 육지:0 > '))
            

    row = A
    col = B
    
    base_map[row,col] = 0
    cnt = 0
    
    print(f'\n 처음 지도 \n {base_map} \n')
    try:
        while(True):
            # 북쪽 방향
            if d == 0:
                if base_map[row,col-1] == 1:
                    row = row+1
                    cnt += 1
                elif base_map[row,col-1] == 0:
                    base_map[row,col-1] = 1
                    cnt += 1
                    d = 3
                    col = col-1
                else:
                    pass

            # 동쪽 방향
            if d == 1:
                if base_map[row-1,col] == 1:
                    col = col-1
                    cnt += 1
                elif base_map[row-1,col]== 0:
                    base_map[row-1,col]=1
                    cnt += 1
                    d = 0
                    row = row-1
                else :
                    pass

            # 남쪽 방향   
            if d == 2:
                if base_map[row,col+1] == 1:
                    row = row-1
                    cnt += 1
                elif base_map[row,col+1] == 0:
                    base_map[row,col+1] =1
                    cnt += 1
                    d = 1
                    col = col+1
                else :
                    pass            

            # 서쪽 방향       
            if d == 3:
                if base_map[row+1,col] == 1:
                    col = col+1
                    cnt += 1
                elif base_map[row+1,col] == 0:
                    base_map[row+1,col] =1
                    cnt += 1
                    d = 2
                    row = row+1
                else :
                    pass
    except:
        print(f'거북이가 방문한 칸의 수 : {cnt}\n')
        print(f'거북이가 그린 지도 \n {base_map}')

turtle_trip()

- 스택 : 박스 쌓기에 비유, 선입후출 구조

In [3]:
stack = []
stack.append(5)
stack.append(2)
stack.append(3)
stack.append(7)
stack.pop()  # pop로 뺌. 7빠짐 선입후출
stack.append(1)
stack.append(4)
stack.pop()  # 가장 최근에 쌓인 4빠짐 

print(stack)
print(stack[::-1])

[5, 2, 3, 1]
[1, 3, 2, 5]

- 큐 : 먼저 온사람이 먼저 들어간다. 선입선출 구조

In [5]:
from collections import deque

queue = deque()

queue.append(5)
queue.append(2)
queue.append(3)
queue.append(7)
queue.popleft()  # pop로 뺌. 5빠짐 선입선출
queue.append(1)
queue.append(4)
queue.popleft() # 5다음 오래쌓였던 2가 빠짐

print(queue)
queue.reverse()
print(queue)

deque([3, 7, 1, 4])
deque([4, 1, 7, 3])

- Q75.
N X M 크기의 얼음 틀로 한번에 만들 수 있는 아이스크림의 개수를 아래 입력조건에 따라 출력하는 프로그램을 DFS(Depth First Search)를 이용하여 작성하세요.
 
- 입력조건
  - 첫번째 줄에 얼음 틀의 세로 길이 N과 가로 길이 M이 주어진다.(1 <= N,M <= 1000)
  - 두번째 줄부터 N+1번째 줄까지 얼음 틀의 형태가 주어진다.
  - 이때 구멍이 뚫려있는 부분은 0 그렇지 않은 부분은 1이다.
  - 구멍이 뚫려 있는 부분끼리 상, 하, 좌, 우로 붙어 있는 경우 서로 연결되어 있는 것으로 간주한다.

In [ ]:
5 5
00110
00011
11111
00111
11000
4개 (0 범위)

In [ ]:
if N,M >= 1 and N,M <= 1000 :
    N,M = map(int,input('N M 공백한칸두고 입력').split(' '))
else :
    pass

def dfs(ice):

###  재귀함수

In [1]:
def recursive_function(i):
    if i == 5:
        return # 리턴 아무것도안주면 끝내는것.break와 비슷
    print(i, '번째 재귀함수에서', i+1, '번째 재귀함수를 호출합니다.')
    recursive_function(i+1)
    print(i,'번째 재귀함수를 호출합니다.')
recursive_function(1)

1 번째 재귀함수에서 2 번째 재귀함수를 호출합니다.
2 번째 재귀함수에서 3 번째 재귀함수를 호출합니다.
3 번째 재귀함수에서 4 번째 재귀함수를 호출합니다.
4 번째 재귀함수에서 5 번째 재귀함수를 호출합니다.
4 번째 재귀함수를 호출합니다.
3 번째 재귀함수를 호출합니다.
2 번째 재귀함수를 호출합니다.
1 번째 재귀함수를 호출합니다.

- Q76. 10!을 재귀함수를 이용하여 출력하세요.

In [9]:
def factorial_iterative(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result
factorial_iterative(10)

3628800

In [10]:
# f(n) = n * f(n-1) (n >= 1)
# 1! 구할 때 f(0)이 필요.
# f(0) = 0 * ~는 0이 되므로 n=0 일때는 출력값 1로 지정
# f(1) = 1 * f(0) 이므로 f(0)때문에 같이 출력값 1로 지정
def f(n) :
    if n == 1 or n == 0 :
        return 1
    else :
        return n*f(n-1)

In [11]:
f(10)

3628800

- Q77.(도전과제)

N X M 크기의 미로에는 여러마리의 괴물이 있어 이를 피해 탈출해야 한다. 주인공의 위치는 (0,0)이고 미로의 출구는 (N-1,M-1)의 위치에 존재하며 한번에 한칸씩 이동할 수 있다. 괴물이 있는 부분은 0, 없는 부분은 1로 표시되어 있으며 미로는 반드시 탈출할 수 있는 형태로 제시된다. 주인공이 탈출하기 위해 움직여야 하는 최소 칸의 개수를 구하세요. 칸을 셀 때는 시작 칸과 마지막 칸을 모두 포함하여 계산하고 입력 조건은 아래와 같다.(BFS를 이용)
- 첫째 줄에 두 정수 N,M(4<=N,M<=200)이 주어진다. 
- 다음 N개의 줄에는 각각 M개의 정수(0 혹은 1)로 미로의 정보가 주어진다. 각각의 수들은 공백없이 붙여서 입력으로 제시된다. 
- 또한 시작칸과 마지막칸은 항상 1이다.

In [ ]:
5 5
11011
01011
01111
11011
10111
9

In [2]:
from collections import deque

# N, M을 공백으로 구분하여 입력받기
n,m=map(int,input().split())

# 2차원 리스트의 맵 정보 입력받기
graph=[]
for i in range(n):
    graph.append(list(map(int,input())))

# 이동할 네 방향 정의(상, 하, 좌, 우), x는 위쪽에서 떨어진 위치, y는 좌측에서 떨어진 위치 
dx = [-1,1,0,0]
dy = [0,0,-1,1]

# BFS 소스코드 구현
def bfs(x,y):
    # 큐 구현을 위해 deque 라이브러리 사용
    queue = deque()
    queue.append((x,y))
    # 큐가 빌 때까지 반복
    
 # 가장 오른쪽 아래까지의 최단 거리 반환(이동할 때마다 1씩 추가하기 때문에 탈출시에 최종 이동한 칸의 개수가 만들어짐)
    return graph[n-1][m-1]

# BFS를 수행한 결과 출력
print(bfs(0,0))

5 5
10101
11110
00011
10100
00111
1

- Q78.
소수란 2보다 큰 자연수 중에서 1과 자기자신을 제외한 자연수로는 나누어떨어지지 않는 자연수이다. 어떠한 자연수가 소수인지 아닌지 판별하는 프로그램을 작성하세요.

In [18]:
# 사용자함수
# n을 2 ~ n-1로 나눴을 때 모든 나머지가 0이 아니면 소수

def sosu(num):
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

n = int(input())
print(sosu(n))

37
True

- Q79. M 이상 N 이하의 소수를 모두 출력하는 프로그램을 작성하세요.
- 입력조건
  - 첫째 줄에 자연수 M과 N이 빈칸을 사이에 두고 주어진다.(1<=M<=N<=1,000,000)
  - 단 M이상 N 이하의 소수가 하나 이상 있는 입력만 주어진다.

In [ ]:
# map 
# 소수 하나 이상 > if 로 리턴
M, N = map(int,input('N M 공백한칸두고 입력').split(' '))

In [ ]:
def sosu(num):
    for i in range(2, num):
        if num % i == 0:
            return False
    return num

n = int(input())
print(sosu(n))

- Q80.
암호는 서로 다른 L개의 알파벳 소문자들로 구성되며 최소 한 개의 모음(a, e, i, o, u)과 최소 두 개의 자음으로 구성되어 있다고 알려져 있다. 또한 정렬된 문자열을 선호하는 직원들의 성향으로 미루어 보아 암호를 이루는 알파벳이 암호에서 증가하는 순서로 배열되었을 것이라고 추측된다. 즉, abc는 가능성이 있는 암호이지만 bac는 그렇지 않다. 새 보안 시스템에서 직원들이 암호로 사용했을 법한 문자의 종류는 C가지가 있다고 한다. 이 알파벳을 입수한 james, kevin 형제는 직원들의 방에 침투하기 위해 암호를 추측해 보려고 한다. C개의 문자들이 모두 주어졌을 때, 가능성 있는 암호들을 모두 구하는 프로그램을 다음 사항에 유의하여 작성하시오.
 - 첫째 줄에 두 정수 L, C가 주어진다. (3 ≤ L ≤ C ≤ 15) 다음 줄에는 C개의 문자들이 공백으로 구분되어 주어진다. 주어지는 문자들은 알파벳 소문자이며, 중복되는 것은 없다.
 - 각 줄에 하나씩, 사전식으로 가능성 있는 암호를 모두 출력한다.

- Q81.
파이썬의 itertools 라이브러리를 활용하여 리스트 data = ['A','B','C']로 부터 아래 문제를 풀어보세요.
- 3개를 뽑아 나열하는 모든 경우를 출력하세요(중복 허용안됨)
- 3개를 뽑아 나열하는 모든 경우를 출력하세요(중복 허용)
- 3개를 뽑아 순서에 상관없이 나열하는 모든 경우를 출력하세요(중복 허용안됨)
- 3개를 뽑아 순서에 상관없이 나열하는 모든 경우를 출력하세요(중복 허용)

In [42]:
# n = 고정변수, r = 변인변수
# 1, 2 순열 : n! / (n-r)!      (0<=r<=n)
# 순열 : 서로 다른 n개에서 중복됨이 없이 r개를 택하여 일렬로 배열

# 3, 4 조합 : n! / (n-r)!*r!   (0<=r<=n)
# 조합 : 순서를 생각하지 않고 r개를 뽑는 것

- 중복조합 : 서로 다른 n개에서 중복을 허락하여 r개 택하기
- 중복조합은 n<r일 수도 있다.
- 조합은 순서에 관계없이 원소가 같으면 같은 경우로 본다.
- $_{n}\mathrm{C}_{r}$ = $_{n}\mathrm{C}_{n-r}$
- 중복조합의 수 : $_{n+r-1}\mathrm{C}_{r}$ = $_{n}\mathrm{H}_{r}$

- permutations(반복 가능한 객체, r) : 중복 허용 안되는 순열. 순서가 다르면 다른 경우의 수
- product(반복 가능한 객체, repeat=2) : 중복 순열. repeat에 맞물리는 숫자는 한묶음에 들어갈 개수
- combinations(반복 가능한 객체, r) : 중복 허용 안되는 조합. 순서 고려 x
- combinations_with_replacement(반복 가능한 객체, r) : 중복 조합

In [34]:
# (1) 3개를 뽑아 나열하는 모든 경우 (중복 허용 안됨). 순열
from itertools import permutations # 원소 개수가 r개인 순열 뽑기

data = ['A','B','C']

for i in permutations(data) : # 두번째 인자값을 지정하지 않으면 최대 길이의 순열 리턴
    print(i)                  # 중복 허용하지 않음 (같은 값도 순서가 다르면 다른 경우의 수)
# 경우의 수 : 3! / (3-3)! = 6

('A', 'B', 'C')
('A', 'C', 'B')
('B', 'A', 'C')
('B', 'C', 'A')
('C', 'A', 'B')
('C', 'B', 'A')

In [41]:
# (2) 3개를 뽑아 나열하는 모든 경우 (중복 허용). 순열
from itertools import product

data = ['A','B','C']

res = list(product(data, repeat=3)) # 두번째 인자(repeat=n)는 한 세트에 들어갈 개수를 정함(n개)
print(res)
print(f'경우의 수 : {len(res)}개')

[('A', 'A', 'A'), ('A', 'A', 'B'), ('A', 'A', 'C'), ('A', 'B', 'A'), ('A', 'B', 'B'), ('A', 'B', 'C'), ('A', 'C', 'A'), ('A', 'C', 'B'), ('A', 'C', 'C'), ('B', 'A', 'A'), ('B', 'A', 'B'), ('B', 'A', 'C'), ('B', 'B', 'A'), ('B', 'B', 'B'), ('B', 'B', 'C'), ('B', 'C', 'A'), ('B', 'C', 'B'), ('B', 'C', 'C'), ('C', 'A', 'A'), ('C', 'A', 'B'), ('C', 'A', 'C'), ('C', 'B', 'A'), ('C', 'B', 'B'), ('C', 'B', 'C'), ('C', 'C', 'A'), ('C', 'C', 'B'), ('C', 'C', 'C')]
경우의 수 : 27개

In [37]:
# (3) 3개를 뽑아 순서에 상관없이 나열하는 경우 (중복 허용 안됨). 조합
from itertools import combinations

data = ['A','B','C']

res = list(combinations(data, 3)) # 순서에 상관없다 함은 위치가 바뀐다 해도 같은 것으로 취급
print(res)
# 경우의 수 : 3! / ((3-3)! * 3!) = 1

[('A', 'B', 'C')]

In [38]:
# (4) 3개를 뽑아 순서에 상관없이 나열하는 경우 (중복 허용). 조합
from itertools import combinations_with_replacement

data = ['A','B','C']

res = list(combinations_with_replacement(data, 3))
print(res)
print(f'경우의 수 : {len(res)}개')

[('A', 'A', 'A'), ('A', 'A', 'B'), ('A', 'A', 'C'), ('A', 'B', 'B'), ('A', 'B', 'C'), ('A', 'C', 'C'), ('B', 'B', 'B'), ('B', 'B', 'C'), ('B', 'C', 'C'), ('C', 'C', 'C')]
경우의 수 : 10개

- Q82.
아래사항을 참조, 파이썬의 heapq 라이브러리를 활용하여 주어진 리스트 iterable = [1,3,5,7,9,2,4,6,8,0]을 힙 정렬하여 출력하세요.
- 최소 힙 : heap 역할을 할 빈 리스트를 선언해주고, heappush 메소드의 매개변수로 해당 리스트와 추가하고자 하는 값을 넣어주면 리스트에 힙 정렬이 되게 원하는 값이 삽입된다.
- 최대 힙 : heapq에서는 최대 힙을 제공하지 않는다. 따라서 부호를 변경하는 방법을 사용해서 최대 힙을 구현한다.

In [1]:
# 오름,내림차순

- Q83.
파이썬 bisect 라이브러리를 활용하여 리스트 a = [1,2,3,3,3,4,4,8,9] 로 부터 아래 문제들을 풀어보세요.
- 값이 4인 데이터 개수 출력
- 값이 [-1,3] 범위에 있는 데이터 개수 출력

In [9]:
from bisect import bisect_left, bisect_right
# bisect_left(리스트, value) : 왼쪽 인덱스값 구하기
a = [1,2,3,3,3,4,4,8,9]
le = bisect_left(a,4)
ri = bisect_right(a,4)
le, ri
# 값이 4인 데이터 개수 출력
print(ri - le)

# 값이 [-1,3] 범위에 있는 데이터 개수 출력
# 정렬되어 있으므로 3 이하만 구하면됨
bisect_left(a,4) # bisect_right(a,3)

2

5