[numpy random 함수]

- np.random.seed : seed를 통한 난수 생성
- np.random.randint : 정수 난수 1개 생성
- np.random.rand : 0부터 1사이의 균일분포에서 난수 매트릭스 배열 생성
- np.random.randn : 가우시안 표준 정규분포에서 난수 매트릭스 배열 생성
- np.random.shuffle : 기존의 데이터의 순서 바꾸기
- np.random.choice : 기존 데이터에서 sampling

In [21]:
import random

print(random.random(),'\n')  # 0.0 <= x < 1.0 사이 랜덤수 출력
print(random.randint(1,10),'\n') # 지정범위 내 랜덤정수 출력 (1 <= x <= 10)
print(random.uniform(10,20),'\n') # 지정 범위(min, max) 내 랜덤 실수(float) 출력
print(random.randrange(10),'\n') # 지정값 내 랜덤정수(int) 리턴\
print(random.choice([1,2,3,4,5]), '\n') # 리스트 내부에 있는 요소를 랜덤하게 선택
print('='*50)
li = [1,2,3,4,5]
print(random.sample(li,3), '\n')  # 리스트 요소를 중복이 안되게 리턴
random.shuffle(li) # 리스트 요소를 다시 섞어서 리턴, 셔플값으로 넣은걸 프린트하면 적용된것 확인 가능
print(li)

0.9657394495989626

5

17.745063822468847

8

4

==================================================
[3, 4, 5]

None
[2, 4, 3, 1, 5]

- 0과 1 사이 균일분포 (rand)

In [32]:
import random
import numpy as np

r = np.random.rand(6) # 0에서 1사이의 균일분포. 6개를 뽑음.
print(r)
r.mean()

[0.78520823 0.76764786 0.07859077 0.50315514 0.0460949  0.67952405]

0.4767034928469533

- 표준 정규분포

In [35]:
r = np.random.randn(10000) # 평균 0 표준편차 1
print(r,'\n')
r.mean()

[ 0.21267549 -0.03125463 -0.23218152 ...  0.03684398 -0.29346883
  0.36738752]

-0.003887713837252732

In [36]:
np.random.uniform(1.0, 2.0, 10) # 1.0과 2.0 사이의 10개가 나옴
                                # 정수일땐 randint, 실수일땐 uniform 사용하면됨

array([1.19671404, 1.41476614, 1.22414825, 1.79006245, 1.05448021,
       1.21323484, 1.15632912, 1.56653724, 1.1713003 , 1.02463135])

In [37]:
np.random.uniform(0,1,(2,3))  # 개수대신 튜플로 묶어서 2행 3열 줌

array([[0.01120797, 0.73758676, 0.0901442 ],
       [0.95379814, 0.07243872, 0.46641238]])

- np.random.random_sample
- 0 ~ 1 사이의 난수 실수값으로 행렬 생성
- uniform 함수의 최소값, 최대값을 0, 1로 지정한 것과 같음

In [38]:
np.random.random_sample((2,3))     # 그래서 행렬만 줌

array([[0.19002799, 0.39268204, 0.88289066],
       [0.1996873 , 0.08026883, 0.62096517]])

In [64]:
import pandas as pd
import numpy as np
ar = np.random.rand(4,8)    # rand : 균일분포.  4행 8열
ar

array([[0.7533329 , 0.62982589, 0.40783767, 0.92633791, 0.85064543,
        0.86597747, 0.29589515, 0.2796709 ],
       [0.1293212 , 0.60065777, 0.54098585, 0.06333968, 0.762637  ,
        0.19097512, 0.27390608, 0.78669618],
       [0.56369239, 0.2362757 , 0.61098611, 0.00856599, 0.47189918,
        0.32334945, 0.62776765, 0.4847996 ],
       [0.73595873, 0.05350064, 0.24967874, 0.57108951, 0.31060087,
        0.08493885, 0.07671024, 0.10114573]])

In [65]:
df = pd.DataFrame(ar)
df
# df = pd.DataFreme(ar, columns = ['id','gender','age','region','product','price','qty','time'])

,0,1,2,3,4,5,6,7
0,0.753333,0.629826,0.407838,0.926338,0.850645,0.865977,0.295895,0.279671
1,0.129321,0.600658,0.540986,0.063340,0.762637,0.190975,0.273906,0.786696
2,0.563692,0.236276,0.610986,0.008566,0.471899,0.323349,0.627768,0.484800
3,0.735959,0.053501,0.249679,0.571090,0.310601,0.084939,0.076710,0.101146

In [66]:
# columns 8개에 대한 이름 columns = ['id','gender','age','region','product','price','qty','time']
df.columns = ['id','gender','age','region','product','price','qty','time']
df

,id,gender,age,region,product,price,qty,time
0,0.753333,0.629826,0.407838,0.926338,0.850645,0.865977,0.295895,0.279671
1,0.129321,0.600658,0.540986,0.063340,0.762637,0.190975,0.273906,0.786696
2,0.563692,0.236276,0.610986,0.008566,0.471899,0.323349,0.627768,0.484800
3,0.735959,0.053501,0.249679,0.571090,0.310601,0.084939,0.076710,0.101146

In [67]:
# Q. id, gender, age 컬럼에 대하여 의미있는 값으로 변환하여 3개의 컬럼으로 구성된 df3을 출력하세요.

In [75]:
df1 = df[['id','gender','age']]
df2 = df1.copy()
df2.id = np.random.randint(1,100,4)  # 각 값 개별설정방법?
df2.gender = np.random.choice(['male','female'],4)
df2.age = np.random.randint(1,100,4)
df2[['id','gender','age']]

   id  gender  age
0  60  female   46
1  99    male   26
2  30  female   11
3  98  female   13

In [81]:
# 배열에서 정렬한 후 50%에 해당하는 원소만 출력
large_ar = np.random.randn(100000) # randn : 표준정규분포
large_ar.sort() # np.array에 sort 적용하면 원본에 반영됨

In [82]:
large_ar[int(0.5*len(large_ar))]

-0.0019335365994326678

- 배열 집합 연산

In [84]:
names = np.array(['Bob','Joe','Will','Joe','Joe'])
np.unique(names) # 중복 필터링

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [86]:
names = np.array(['Bob','Joe','Will','Joe','Joe'])
sorted(set(names))

['Bob', 'Joe', 'Will']

In [88]:
# 첫번째 배열의 원소가 두번째 배열의 원소를 포함하는지 알려주는 불리언 배열을 반환
values = np.array([6,0,0,3,2,5,6])
np.in1d(values, [2,3,6])   # i n 1(숫자) d. 2,3,6에 넣은 값이 있으면 그값만 True

array([ True, False, False,  True,  True, False,  True])

- 배열 데이터의 입출력

In [89]:
ar = np.arange(10)
np.save('some_ar', ar)

In [90]:
np.load('some_ar.npy')  # 확장자는 npy.

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

- np.savez : 여러개의 배열을 압축된 형식으로 저장

In [91]:
np.savez('ar_archive.npz', a=ar, b=ar)

In [92]:
arch = np.load('ar_archive.npz')
arch['a']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [93]:
arch['b']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [96]:
a = np.arange(1,10)
print(a, '\n')
np.argsort(a)   # 인덱스 순서 찾는 함수

[1 2 3 4 5 6 7 8 9]

array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [97]:
# 인덱스 배열을 역순으로 출력
np.argsort(a)[::-1]

array([8, 7, 6, 5, 4, 3, 2, 1, 0], dtype=int64)

###  도전과제(7/6)
- np.arange(336).reshape(6,7,8)에서 100번째 요소의 인덱스를 구하세요.

In [103]:
a = np.arange(336).reshape(6,7,8)
np.argsort(a)

array([[[  0,   1,   2,   3,   4,   5,   6,   7],
        [  8,   9,  10,  11,  12,  13,  14,  15],
        [ 16,  17,  18,  19,  20,  21,  22,  23],
        [ 24,  25,  26,  27,  28,  29,  30,  31],
        [ 32,  33,  34,  35,  36,  37,  38,  39],
        [ 40,  41,  42,  43,  44,  45,  46,  47],
        [ 48,  49,  50,  51,  52,  53,  54,  55]],

       [[ 56,  57,  58,  59,  60,  61,  62,  63],
        [ 64,  65,  66,  67,  68,  69,  70,  71],
        [ 72,  73,  74,  75,  76,  77,  78,  79],
        [ 80,  81,  82,  83,  84,  85,  86,  87],
        [ 88,  89,  90,  91,  92,  93,  94,  95],
        [ 96,  97,  98,  99, 100, 101, 102, 103],
        [104, 105, 106, 107, 108, 109, 110, 111]],

       [[112, 113, 114, 115, 116, 117, 118, 119],
        [120, 121, 122, 123, 124, 125, 126, 127],
        [128, 129, 130, 131, 132, 133, 134, 135],
        [136, 137, 138, 139, 140, 141, 142, 143],
        [144, 145, 146, 147, 148, 149, 150, 151],
        [152, 153, 154, 155, 156, 157, 158, 159],
        [160, 161, 162, 163, 164, 165, 166, 167]],

       [[168, 169, 170, 171, 172, 173, 174, 175],
        [176, 177, 178, 179, 180, 181, 182, 183],
        [184, 185, 186, 187, 188, 189, 190, 191],
        [192, 193, 194, 195, 196, 197, 198, 199],
        [200, 201, 202, 203, 204, 205, 206, 207],
        [208, 209, 210, 211, 212, 213, 214, 215],
        [216, 217, 218, 219, 220, 221, 222, 223]],

       [[224, 225, 226, 227, 228, 229, 230, 231],
        [232, 233, 234, 235, 236, 237, 238, 239],
        [240, 241, 242, 243, 244, 245, 246, 247],
        [248, 249, 250, 251, 252, 253, 254, 255],
        [256, 257, 258, 259, 260, 261, 262, 263],
        [264, 265, 266, 267, 268, 269, 270, 271],
        [272, 273, 274, 275, 276, 277, 278, 279]],

       [[280, 281, 282, 283, 284, 285, 286, 287],
        [288, 289, 290, 291, 292, 293, 294, 295],
        [296, 297, 298, 299, 300, 301, 302, 303],
        [304, 305, 306, 307, 308, 309, 310, 311],
        [312, 313, 314, 315, 316, 317, 318, 319],
        [320, 321, 322, 323, 324, 325, 326, 327],
        [328, 329, 330, 331, 332, 333, 334, 335]]])

- np.arange(4)을 이용햇 아래와 같이 출력하세요.

In [ ]:
array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [111]:
np.arange(4) # np.ones?

array([0, 1, 2, 3])

- Q. 0~10 정수 (5,5) 행렬의 역행렬을 구한 후 두 행렬간의 행렬곱을 구하세요.

In [127]:
ar = np.random.randint(11,size=(5,5))
print(ar)
ar_r = np.linalg.inv(ar)


# a = np.full((5,5), np.random.randint(0,10))

array([[4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4]])

In [ ]:
# 임의의 행렬과 그 행렬의 역행렬의 곱은 항등열

### 과제(7/6)
-  가이드에 따라서 고객별 연간 구매데이터를 생성하고 아래사항을 수행하세요(관측치 10000개)

- Q1. 고객 속성(id, 성별, 연령, 거주지역) 데이터와 거래 데이터를 통합한 데이터 프레임 df를 생성하세요.

(관측치 1000개)

In [ ]:
거래 번호
- id : 1 ~ 1000번 일련번호 - 개시 후 1만 건의 거래가 있었고 걍 거기에 넘버링한 거라고 이해해보자

고객별 속성 데이터
- cusno : 고객번호 1000개 랜덤
- gender : 0,1 정수 난수 생성
- age : 0 ~ 80사이 정수 난수 생성
- region : 1 ~ 10 사이 정수 난수 생성

거래 데이터
- product_20 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- product_21 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- price_20 : 1000 ~ 50000 사이 실수 난수 생성
- price_21 : 1000 ~ 50000 사이 실수 난수 생성
- quantity_20 : 1 ~ 100 사이 정수 난수 생성
- quantity_21 : 1 ~ 100 사이 정수 난수 생성
- amount_20 : price_20 * quantity_20
- amount_21 : price_21 * quantity_21
- sales : 20년 대비 21년구매금액이 증가면 1, 감소면 0

#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요
* 배운거 어떻게든 써서 . . 
* 구매 데이터 생성
* 그룹핑등등 사용
* 피벗으로 잘 됐는지 확인?
#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.
* 분석에는 인덱스를 다른거 뽑아서 사용가능
* 판매율, 고정층, 연령층, 제품가격별, 물량 등등으로 분류해서 확인
* 의미있는 값으로 방향제시 혹은 결과 도출
사람살려